body
{
  background-color: #e3fdfd ;
}
img
{
  height: 180px;
  width: 150px;
}

hr
{
  border: none;
  border-top: 3px dashed gray ;
  width: 3%;
}

h1
{
  color: #71c9ce ;
}

h3
{
  color: #71c9ce ;
}
